{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsdoc/recommended"
  ],
  "globals": {
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    // Handle cases where we are destructuring but may not be using the initial
    // variables
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreMemberSort": true
      }
    ],
    "jsdoc/require-jsdoc": [
      2,
      {
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "FunctionDeclaration": true,
          "MethodDefinition": true
        }
      }
    ],
    "jsdoc/require-param-description": 2,
    "jsdoc/require-param-name": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/valid-types": 2,
    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2
  },
  "settings": {
    "jsdoc": {
      "tagNamePreference": {
        "augments": "extends"
      }
    }
  }
}
