name: test

on:
  pull_request:
    branches: [ web-components-step-* ]

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-github-pages:
    name: e2e test github page
    if: github.event.pull_request.base.ref == 'web-components-step-5'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn install
      - name: Run cypress test
        run: yarn cypress run
  e2e:
    name: e2e tests
    if: github.event.pull_request.base.ref != 'web-components-step-5'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: yarn install
      - name: Build project
        run: yarn build
      - name: Run e2e tests
        run: yarn test
